#datTitle {
    font-family: 'Segoe UI';
    color: rgb(79, 41, 249);
}
h1 {text-align: center;}

table,
th,
td {
    width: 1490px;
    border: 1px solid rgb(0, 0, 0);
}

body {
    background-color: rgb(123, 226, 255);
}

div {
    background-color: rgb(253, 253, 253);
    width: 1490px;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0;

{
    background: rgb(189, 209, 254);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

#navigation{
    background: rgb(189, 209, 254);
            margin: 0 auto;
            display: flex;
            padding: 10px;
}

}
    /* unvisited link */
.pages a:link {
        color: green;
        text-decoration: none;
}

    /* visited link */
.pages a:visited {
        color: rgb(79, 41, 249);
        text-decoration: none;
}

    /* mouse over link */
.pages a:hover {
        color: darksalmon;
        text-decoration: none;
}

    /* selected link */
.pages a:active {
        color: rgb(252, 223, 0);
        text-decoration: none;
}

.information {
        font-family: cursive;
        color: rgb(79, 41, 249);
}

#mainContent {
        width: 60%
        margin: auto;
}

    